a {
  font-family: 'Montserrat', sans-serif;
}
.botoesRedoendo {
  border-radius: 10px;
}
.navbar-dark .navbar-nav .nav-link:hover {
  color: #8FFDBE !important;
  transition: 0.6s !important;
}
#navBarColor {
  background-color: #3e3e3e !important;
}
